body{
  background:#0a2540;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.box{
  background:#fff;
  padding:30px;
  width:300px;
  border-radius:10px;
  animation:fade 0.6s ease;
}

@keyframes fade{
  from{opacity:0; transform:translateY(20px);}
  to{opacity:1;}
}

input{
  width:100%;
  padding:10px;
  margin:8px 0;
}

button{
  width:100%;
  padding:10px;
  background:#ff7a00;
  border:none;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
}

.strength{
  height:8px;
  border-radius:5px;
  background:#ddd;
  overflow:hidden;
}

#strengthText{
  display:block;
  height:100%;
  width:33%;
  background:red;
  transition:0.3s;
}
h1{
  text-align:center;
  margin-bottom:10px;
}

p{
  text-align:center;
  color:#555;
  margin-bottom:25px;
}

.btn-group{
  display:flex;
  gap:15px;
}

.btn{
  flex:1;
  text-align:center;
  padding:12px;
  background:#ff7a00;
  color:#fff;
  text-decoration:none;
  border-radius:6px;
  font-weight:600;
}

.btn.outline{
  background:#fff;
  color:#ff7a00;
  border:2px solid #ff7a00;
}

.btn:hover{
  opacity:0.9;
}
